<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="wallacevff@yahoo.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (21) 97123-5171
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Rua Zacarias de Alvarenga 07 - 24466-510 - São Gonçalo - Rio de Janeiro
        </p>
    </div>
</div>